flows.json
[
    {
        "id": "34d399581d81bcf3",
        "type": "api-current-state",
        "z": "be3a274237e80b99",
        "name": "Temperature",
        "server": "cd947d81.42b1e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.ac_target_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{ "property": "temp", "propertyType": "msg", "value": "", "valueType": "entityState" }],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 850,
        "y": 100,
        "wires": [["24439d67f1d834c2"]]
    },
    {
        "id": "2e30601d703eedda",
        "type": "api-current-state",
        "z": "be3a274237e80b99",
        "name": "Mode",
        "server": "cd947d81.42b1e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.ac_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{ "property": "mode", "propertyType": "msg", "value": "", "valueType": "entityState" }],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 830,
        "y": 160,
        "wires": [["24439d67f1d834c2"]]
    },
    {
        "id": "8f33c1199ed9138f",
        "type": "api-current-state",
        "z": "be3a274237e80b99",
        "name": "Fan speed",
        "server": "cd947d81.42b1e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.ac_fan_speed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{ "property": "fan", "propertyType": "msg", "value": "", "valueType": "entityState" }],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 850,
        "y": 220,
        "wires": [["24439d67f1d834c2"]]
    },
    {
        "id": "ab1fcb8c4c367741",
        "type": "api-current-state",
        "z": "be3a274237e80b99",
        "name": "Swing",
        "server": "cd947d81.42b1e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.ac_swing",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [{ "property": "swing", "propertyType": "msg", "value": "", "valueType": "entityState" }],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 830,
        "y": 280,
        "wires": [["24439d67f1d834c2"]]
    },
    {
        "id": "4801068da32747ec",
        "type": "api-current-state",
        "z": "be3a274237e80b99",
        "name": "On/Off",
        "server": "cd947d81.42b1e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.ac_on_off",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [{ "property": "on", "propertyType": "msg", "value": "", "valueType": "entityState" }],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 830,
        "y": 40,
        "wires": [["24439d67f1d834c2"]]
    },
    {
        "id": "f0eb79a9089cb47e",
        "type": "debug",
        "z": "be3a274237e80b99",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "16a25682e5db83ed",
        "type": "join",
        "z": "be3a274237e80b99",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 160,
        "wires": [["59d4456923bf5ff0", "bcdab5236f93b014"]]
    },
    {
        "id": "59d4456923bf5ff0",
        "type": "debug",
        "z": "be3a274237e80b99",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a6b150acf7828ef",
        "type": "api-current-state",
        "z": "be3a274237e80b99",
        "name": "Sleep",
        "server": "cd947d81.42b1e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.ac_sleep",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [{ "property": "sleep", "propertyType": "msg", "value": "", "valueType": "entityState" }],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 830,
        "y": 340,
        "wires": [["24439d67f1d834c2"]]
    },
    {
        "id": "75b09499067777a4",
        "type": "exec",
        "z": "be3a274237e80b99",
        "command": "python3 /config/ir_encode.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Encode message",
        "x": 1390,
        "y": 160,
        "wires": [["599bbfb828e75071"], ["aa81839df64e8e43"], []]
    },
    {
        "id": "a8e30adfcee20d32",
        "type": "debug",
        "z": "be3a274237e80b99",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 120,
        "wires": []
    },
    {
        "id": "bcdab5236f93b014",
        "type": "change",
        "z": "be3a274237e80b99",
        "name": "JSON",
        "rules": [
            { "t": "set", "p": "payload", "pt": "msg", "to": "\"--json '\" & payload & \"'\"", "tot": "jsonata" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 200,
        "wires": [["75b09499067777a4"]]
    },
    {
        "id": "655512a698ff3d63",
        "type": "api-call-service",
        "z": "be3a274237e80b99",
        "name": "Send IR",
        "server": "cd947d81.42b1e",
        "version": 5,
        "debugenabled": false,
        "domain": "text",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": ["text.ir_blaster_ir_code_to_send"],
        "data": "{\t    \"value\": payload\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "results" }],
        "queue": "none",
        "x": 1840,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "599bbfb828e75071",
        "type": "change",
        "z": "be3a274237e80b99",
        "name": "trim",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "$trim(payload)", "tot": "jsonata" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 160,
        "wires": [["a8e30adfcee20d32", "7d785d1ab41a8c43"]]
    },
    {
        "id": "aa81839df64e8e43",
        "type": "debug",
        "z": "be3a274237e80b99",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d785d1ab41a8c43",
        "type": "function",
        "z": "be3a274237e80b99",
        "name": "throttle messages",
        "func": "const timeout = 700;\nlet timer = context.get(\"timer\") || null;\n\n// if the timer isn't running, start it\nif (timer === null) {\n    let timer = setTimeout(() => {\n        // once the timeout ends, send the last message\n        node.status({});\n        msg = context.get(\"message\");\n        context.set(\"message\", null);\n        context.set(\"timer\", null);\n        node.send(msg);\n    }, timeout);\n\n    context.set(\"timer\", timer);\n}\n// the timer is running, restart it\nelse {\n    timer.refresh();\n}\n\ncontext.set(\"message\", msg);\nnode.status({ text: msg.payload });\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 200,
        "wires": [["7c946a6a31eab640", "655512a698ff3d63"]]
    },
    {
        "id": "7c946a6a31eab640",
        "type": "debug",
        "z": "be3a274237e80b99",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 160,
        "wires": []
    },
    {
        "id": "24439d67f1d834c2",
        "type": "junction",
        "z": "be3a274237e80b99",
        "x": 1060,
        "y": 160,
        "wires": [["16a25682e5db83ed", "f0eb79a9089cb47e"]]
    },
    {
        "id": "30b70731ca559349",
        "type": "ha-switch",
        "z": "be3a274237e80b99",
        "name": "AC",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "2e9edb619aaa363e",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "on", "propertyType": "msg", "value": "", "valueType": "entityState" },
            { "property": "button", "propertyType": "msg", "value": "onoff", "valueType": "str" }
        ],
        "x": 490,
        "y": 40,
        "wires": [["02b81c733ad93f30"], ["02b81c733ad93f30"]]
    },
    {
        "id": "e69cefcda117ddd9",
        "type": "ha-number",
        "z": "be3a274237e80b99",
        "name": "Temperature",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "738562fba45ff8dc",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            { "property": "temp", "propertyType": "msg", "value": "", "valueType": "value" },
            { "property": "previous_temp", "propertyType": "msg", "value": "", "valueType": "previousValue" }
        ],
        "x": 110,
        "y": 140,
        "wires": [["4aab70f40f15fb9d"]]
    },
    {
        "id": "0268570ab76418de",
        "type": "ha-select",
        "z": "be3a274237e80b99",
        "name": "Mode",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "11e38d9ba9ee12af",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            { "property": "mode", "propertyType": "msg", "value": "", "valueType": "value" },
            { "property": "button", "propertyType": "msg", "value": "mode", "valueType": "str" }
        ],
        "x": 530,
        "y": 160,
        "wires": [["34d399581d81bcf3", "ab1fcb8c4c367741", "3a6b150acf7828ef", "8f33c1199ed9138f", "4801068da32747ec"]]
    },
    {
        "id": "b7a2e39616f96d64",
        "type": "ha-select",
        "z": "be3a274237e80b99",
        "name": "Fan speed",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "7ff8535aae5a75a4",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            { "property": "fan", "propertyType": "msg", "value": "", "valueType": "value" },
            { "property": "button", "propertyType": "msg", "value": "speed", "valueType": "str" }
        ],
        "x": 520,
        "y": 220,
        "wires": [["2e30601d703eedda", "34d399581d81bcf3", "3a6b150acf7828ef", "ab1fcb8c4c367741", "4801068da32747ec"]]
    },
    {
        "id": "1f097f792f14400b",
        "type": "ha-switch",
        "z": "be3a274237e80b99",
        "name": "Swing",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "33cdb6da5f8159c7",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "swing", "propertyType": "msg", "value": "", "valueType": "entityState" },
            { "property": "button", "propertyType": "msg", "value": "swing", "valueType": "str" }
        ],
        "x": 490,
        "y": 280,
        "wires": [["f71ced36d02a6798"], ["f71ced36d02a6798"]]
    },
    {
        "id": "883d3659de63e64c",
        "type": "ha-switch",
        "z": "be3a274237e80b99",
        "name": "Sleep",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "99ecc5d7c49b7b29",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "sleep", "propertyType": "msg", "value": "", "valueType": "entityState" },
            { "property": "button", "propertyType": "msg", "value": "sleep", "valueType": "str" }
        ],
        "x": 490,
        "y": 340,
        "wires": [["f5a208db120c7b75"], ["f5a208db120c7b75"]]
    },
    {
        "id": "4aab70f40f15fb9d",
        "type": "switch",
        "z": "be3a274237e80b99",
        "name": "up/down",
        "property": "temp",
        "propertyType": "msg",
        "rules": [
            { "t": "gt", "v": "previous_temp", "vt": "msg" },
            { "t": "lt", "v": "previous_temp", "vt": "msg" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 100,
        "wires": [["9ccac589d551ae6c"], ["64d2ef19fc544aeb"]]
    },
    {
        "id": "9ccac589d551ae6c",
        "type": "change",
        "z": "be3a274237e80b99",
        "name": "Plus",
        "rules": [{ "t": "set", "p": "button", "pt": "msg", "to": "plus", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 80,
        "wires": [["03bc22298fd336b0"]]
    },
    {
        "id": "64d2ef19fc544aeb",
        "type": "change",
        "z": "be3a274237e80b99",
        "name": "Minus",
        "rules": [{ "t": "set", "p": "button", "pt": "msg", "to": "minus", "tot": "str" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 120,
        "wires": [["03bc22298fd336b0"]]
    },
    {
        "id": "03bc22298fd336b0",
        "type": "change",
        "z": "be3a274237e80b99",
        "name": "Clear previous temp",
        "rules": [{ "t": "delete", "p": "previous_temp", "pt": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [["4801068da32747ec", "2e30601d703eedda", "8f33c1199ed9138f", "ab1fcb8c4c367741", "3a6b150acf7828ef"]]
    },
    {
        "id": "f71ced36d02a6798",
        "type": "junction",
        "z": "be3a274237e80b99",
        "x": 580,
        "y": 280,
        "wires": [["8f33c1199ed9138f", "2e30601d703eedda", "3a6b150acf7828ef", "34d399581d81bcf3", "4801068da32747ec"]]
    },
    {
        "id": "f5a208db120c7b75",
        "type": "junction",
        "z": "be3a274237e80b99",
        "x": 580,
        "y": 340,
        "wires": [["ab1fcb8c4c367741", "2e30601d703eedda", "34d399581d81bcf3", "4801068da32747ec", "8f33c1199ed9138f"]]
    },
    {
        "id": "02b81c733ad93f30",
        "type": "junction",
        "z": "be3a274237e80b99",
        "x": 580,
        "y": 40,
        "wires": [["34d399581d81bcf3", "2e30601d703eedda", "8f33c1199ed9138f", "ab1fcb8c4c367741", "3a6b150acf7828ef"]]
    },
    { "id": "cd947d81.42b1e", "type": "server", "name": "Home Assistant", "addon": true },
    {
        "id": "2e9edb619aaa363e",
        "type": "ha-entity-config",
        "server": "cd947d81.42b1e",
        "deviceConfig": "308447dc24ae310a",
        "name": "ac_on_off",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Air conditioner" },
            { "property": "icon", "value": "mdi:air-conditioner" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "738562fba45ff8dc",
        "type": "ha-entity-config",
        "server": "cd947d81.42b1e",
        "deviceConfig": "308447dc24ae310a",
        "name": "ac_target_temperature",
        "version": "6",
        "entityType": "number",
        "haConfig": [
            { "property": "name", "value": "Target temperature" },
            { "property": "icon", "value": "mdi:temperature-celsius" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "temperature" },
            { "property": "unit_of_measurement", "value": "°C" },
            { "property": "min_value", "value": 16 },
            { "property": "max_value", "value": 32 },
            { "property": "step_value", "value": "" },
            { "property": "mode", "value": "auto" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "11e38d9ba9ee12af",
        "type": "ha-entity-config",
        "server": "cd947d81.42b1e",
        "deviceConfig": "308447dc24ae310a",
        "name": "ac_mode",
        "version": "6",
        "entityType": "select",
        "haConfig": [
            { "property": "name", "value": "Mode" },
            { "property": "icon", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "options", "value": ["Auto", "Cool", "Dry", "Fan"] }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "7ff8535aae5a75a4",
        "type": "ha-entity-config",
        "server": "cd947d81.42b1e",
        "deviceConfig": "308447dc24ae310a",
        "name": "ac_fan_speed",
        "version": "6",
        "entityType": "select",
        "haConfig": [
            { "property": "name", "value": "Fan speed" },
            { "property": "icon", "value": "mdi:fan" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "options", "value": ["Auto", "High", "Mid", "Low"] }
        ],
        "resend": false,
        "debugEnabled": true
    },
    {
        "id": "33cdb6da5f8159c7",
        "type": "ha-entity-config",
        "server": "cd947d81.42b1e",
        "deviceConfig": "308447dc24ae310a",
        "name": "ac_swing",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Swing" },
            { "property": "icon", "value": "mdi:arrow-oscillating" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "99ecc5d7c49b7b29",
        "type": "ha-entity-config",
        "server": "cd947d81.42b1e",
        "deviceConfig": "308447dc24ae310a",
        "name": "ac_sleep",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Sleep" },
            { "property": "icon", "value": "mdi:sleep" },
            { "property": "entity_picture", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "308447dc24ae310a",
        "type": "ha-device-config",
        "name": "Air conditioner",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]
